<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navegation.ejs') %>
    <main class=" vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem voluptatem quo fuga expedita vero quod nobis omnis! Quis adipisci voluptatibus maxime ut inventore aliquam, beatae doloribus dolorem nobis ea assumenda praesentium amet nostrum repudiandae ducimus fugit doloremque? Recusandae neque est explicabo corrupti perspiciatis sapiente cum. Doloribus vero recusandae ratione quo aliquid ex consequuntur possimus voluptate, exercitationem ducimus repellat id suscipit veniam velit enim voluptatem officia quas explicabo laboriosam rerum quod qui. Praesentium quam dolor necessitatibus culpa laudantium rem aut! Vel accusamus molestiae obcaecati assumenda voluptatem ipsum at delectus perspiciatis vero magnam modi odio facilis expedita ipsa a, fugit recusandae commodi pariatur placeat dignissimos ex provident debitis laborum. Obcaecati temporibus corrupti eveniet, sequi delectus excepturi dicta placeat ullam quia explicabo voluptatum nostrum libero animi nesciunt deleniti sed. Deserunt inventore similique excepturi, officia rem totam minus laboriosam ipsum ex dignissimos assumenda nobis debitis earum placeat sit voluptatum repellendus veritatis asperiores, itaque voluptatem aut natus tempore. Voluptatibus nobis officiis aliquam blanditiis a reprehenderit odit! Alias ipsum provident voluptate eius officia quo odit quos id explicabo soluta quas dolorem, unde molestias recusandae dolorum libero minus? Rem neque fugiat ratione, inventore quo eum culpa nemo quis eligendi excepturi commodi deleniti impedit dolorum repudiandae aliquam dolor et officiis unde! Nobis, animi. Temporibus, odit? Sapiente dignissimos sint quod perspiciatis vel pariatur ab quas eveniet esse provident ipsa ad voluptatem reiciendis doloremque cum, veritatis nam voluptatibus accusamus qui optio deleniti autem minima nihil. Magni at eligendi laudantium inventore vitae nam. Aspernatur iusto praesentium in cum itaque unde harum nemo laudantium, minima laboriosam laborum a, labore eveniet consequuntur culpa eum voluptatum, ex enim et nam! Nam neque quia nobis ipsum in dolorum facere quam eius? Nulla laudantium ducimus ipsam, recusandae excepturi explicabo suscipit illum architecto modi nesciunt perferendis ex dicta possimus unde sunt eum aperiam quisquam officia quidem eligendi.</p>

        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>